*{
    font-size:67%;
    /* margin:0; */
    background-color: rgb(255, 255, 207);
}
.watch-frame{
    /* margin-top:15rem; */
    background-image: linear-gradient(darkblue,black);
    position:relative;
    margin: auto;
    font-size: 4rem;
    height:20rem;
    width:25rem;
    border:2px solid black;
    border-radius: 55px;
}
/* .watch-frame:hover{
    background-image: linear-gradient(white,beige);
} */
.timer{
    background-image: linear-gradient(darkblue,black);
    position:absolute;
    top:3rem;
    height:5rem;
    left:.75rem;
    /* margin:auto; */
    width:90%;
    border-radius: 15px;
    border:2px solid white;
}

.timer spam{
    color:white;
    background-color: transparent;
    position: absolute;
    /* top:?rem; */
    left:4rem;
    font-size: 4rem;
}

.btns{
    
    border-radius: 12px;
    background-color: transparent;
    /* background-image: linear-gradient(darkblue,black); */
    position: absolute;
    top:9.5rem;
    left:.5rem;
}
.btns button{
    border-radius: 12px;
    margin: 9px 9px;
}

.btns button:hover{
    background-color: rgb(20, 228, 159);
    /* background-color:#002ead; */
    transition: 0.7s;
}
.btns button:active{
    background-color: red;
}